.chat-interface {
  border-top: 2px solid black;
  background-color: white;
  padding: 10px;
}

.chat-interface h3 {
  margin: 0;
}

.chat-interface input {
  width: 40%;
  padding: 10px 15px;
}

.chat-interface button {
  cursor: pointer;
  padding: 10px 14px;
  font-size: 1em;
  border: 0;
  user-select: none;
  outline: none;
  color: white;
  background-color: green;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
